.navbar {
    background-color: #f4f4f4;
    padding: 1.2rem;
}

.side-bar {
    background: linear-gradient(217deg, rgba(38,35,67,1), rgb(15 34 126 / 1));
    padding: 1rem 2rem 2rem;
    min-height: 90vh;
}

h3.title-ligas {
    color: white;
    margin: 1.5rem 0 .8rem;
    text-transform: uppercase;
    font-family: sans-serif;
}

.league-name {
    color: white;
}

.dash {
    height: 5px;
    width: 25px;
    background-color: rgb(68, 68, 252);
    margin: 0 0 1rem;
}

.logo-header {
    max-width: 200px;
}

.nav-link {
    color: #142274;
    font-weight: 200;
}

ul#listTeam {
    list-style: none;
    padding: 0;
}

ul#listTeam li {
    padding: .2rem 0;
}

ul#listTeam li button {
    background: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    text-align: left;
    font-weight: 200;
    transition: all .5s;
}

ul#listTeam li button:hover {
    color: #52c2ff;
    transform: translateX(7px) scale(1.05);
    font-weight: 400;
}